.loginPage {
   background-image: url("https://koa-aiken.com/matching/friend-match/public/images/friend-match.png");
   background-size:  cover;
  .nav {
   background-color: #fff;
  }
  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
      font-size: 40px;
    }
    &_btn {
      display: block;
      margin-bottom: 10px;
      max-width: 400px;
      padding: 20px;
      border-radius: 30px;
      background: #fd5068;
      color: #fff;
    }
    &_twitter_btn {
      display: block;
      margin-bottom: 10px;
      max-width: 400px;
      padding: 20px;
      border-radius: 30px;
      background: #00aced;
      color: #fff;
    }
    &_facebook_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      border-radius: 30px;
      background: #305097; 
      color: #fff;
    }
  }
  .btn {
      display: block;
      max-width: 400px;
      text-align: center;
      margin: 0 auto;
  }
}
